# Python venv & cache
.venv/
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Do NOT commit secrets
.env
.env.*

dist/
build/
*.egg-info/
*.spec
*.tar.gz
*.whl
LangzainChat.exe
LangzainUI.exe
LangzainUI/
LangzainChat/
